---
---

<html>
<head>
    <title>春秋大梦 - 记录折腾与创造</title>
    <meta charset="UTF-8" />
    <meta name="description" content="春秋大梦，记录折腾与创造" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<div class="overlay"></div>

<div class="container">

    <h1>🌸 春秋大梦</h1>

    <p>记录折腾与创造 · 发现生活中的美好</p>


    <div class="cards">

        <a href="https://chunqiu.eu.cc/" target="_blank">
            🎬 春秋影视
            <span>观看精彩影视</span>
        </a>


        <a>
            🛠 工具箱
            <span>实用小工具集合</span>
        </a>


    </div>


</div>


</body>


<style>

* {
    box-sizing:border-box;
}


body {

    margin:0;
    min-height:100vh;

    /*
    后续你可以把 background.jpg 放到这里
    */

    background:
    linear-gradient(
        rgba(30,80,40,.35),
        rgba(20,40,20,.55)
    ),
    url("/background.jpg");


    background-size:cover;
    background-position:center;
    background-attachment:fixed;


    color:white;

    font-family:
    "Microsoft YaHei",
    Arial,
    sans-serif;


    display:flex;
    justify-content:center;
    align-items:center;

}



.container {

    text-align:center;

    padding:40px;

}



h1 {

    font-size:48px;

    margin-bottom:15px;

    text-shadow:
    0 4px 15px rgba(0,0,0,.4);

}



p {

    color:#f0f0f0;

    font-size:20px;

    margin-bottom:40px;

}



.cards {


    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;


}



a {


    width:220px;

    padding:35px 20px;


    border-radius:25px;


    background:
    rgba(255,255,255,.18);


    backdrop-filter:blur(12px);


    border:
    1px solid rgba(255,255,255,.3);


    color:white;

    text-decoration:none;


    font-size:22px;


    transition:.35s;


    box-shadow:
    0 10px 30px rgba(0,0,0,.25);


}



a span {


    display:block;

    margin-top:12px;

    font-size:14px;

    color:#eee;


}



a:hover {


    transform:
    translateY(-10px)
    scale(1.03);


    background:
    rgba(255,255,255,.3);


}



@media(max-width:600px){


h1{

font-size:36px;

}


.cards{

flex-direction:column;

}


a{

width:260px;

}


}


</style>

</html>