---
---

<html>
<head>
    <title>春秋大梦 - 记录折腾与创造</title>
    <meta charset="UTF-8" />
    <meta name="description" content="春秋大梦，记录折腾与创造" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<div class="container">

    <h1>🌸 春秋大梦</h1>

    <p>记录折腾与创造 · 分享美好生活</p>


    <div class="cards">


        <a href="https://www.chunqiuys.cc.cd/" target="_blank">

            🎬 春秋影视

            <span>
                精彩影视 · 随时观看
            </span>

        </a>



        <a href="#">

            🛠 工具箱

            <span>
                实用工具 · 持续更新
            </span>

        </a>


    </div>


</div>


</body>


<style>


* {
    box-sizing:border-box;
}


body {

    margin:0;

    min-height:100vh;


    background:

    linear-gradient(
        rgba(40,80,40,.35),
        rgba(20,40,20,.55)
    ),

    url("/background.jpg");


    background-size:cover;

    background-position:center;

    background-attachment:fixed;



    display:flex;

    justify-content:center;

    align-items:center;


    color:white;


    font-family:

    "Microsoft YaHei",
    Arial,
    sans-serif;


}



.container {


    text-align:center;

    padding:40px;


}



h1 {


    font-size:50px;


    margin-bottom:15px;


    text-shadow:

    0 4px 20px rgba(0,0,0,.5);


}



p {


    font-size:20px;


    color:#f5f5f5;


    margin-bottom:45px;


}



.cards {


    display:flex;


    justify-content:center;


    gap:30px;


    flex-wrap:wrap;


}



a {


    width:230px;


    padding:35px 20px;


    border-radius:25px;



    background:

    rgba(255,255,255,.18);



    backdrop-filter:

    blur(12px);



    border:

    1px solid rgba(255,255,255,.35);



    color:white;


    text-decoration:none;


    font-size:24px;



    transition:.35s;



    box-shadow:

    0 10px 35px rgba(0,0,0,.25);



}



a span {


    display:block;


    margin-top:15px;


    font-size:14px;


    color:#eee;


}



a:hover {


    transform:

    translateY(-10px)
    scale(1.05);



    background:

    rgba(255,255,255,.3);


}



@media(max-width:600px){


    h1 {

        font-size:38px;

    }


    p {

        font-size:16px;

    }


    .cards {

        flex-direction:column;

        align-items:center;

    }


    a {

        width:270px;

    }


}


</style>

</html>